<h1>Registrar usuario</h1>
<div>
    <form id="formProduct" method="POST" action="/register">
        <label for="first_name">Nombre</label>
        <input type="text" name="first_name" required>
        <label for="last_name">Apellido</label>
        <input type="text" name="last_name" required>
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <label for="age">Edad</label>
        <input type="number" name="age" required>
        <button type="submit">Registar Usuario</button>
    </form>
</div>
